https://www.youtube.com/watch?v=mBCG9J1TVTc&list=PLUaB-1hjhk8GZOuylZqLz-Qt9RIdZZMBE&index=3

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("data/Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [50]:
# Four ways to fix a typo
df.at[8, "Flavor"] = "Chocolate Fudge Brownie"
df.iat[8, 0] = "Chocolate Fudge Brownie"
df.loc[8, "Flavor"] = "Chocolate Fudge Brownie"
df.iloc[8, 0] = "Chocolate Fudge Brownie"

In [49]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolate Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [3]:
group_by_frame = df.groupby("Base Flavor")
group_by_frame

In [7]:
group_by_frame.mean(numeric_only = True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [6]:
df.mean(numeric_only = True)

Flavor Rating      6.600000
Texture Rating     6.177778
Total Rating      12.800000
dtype: float64

In [9]:
group_by_frame.count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [10]:
df.groupby('Base Flavor').min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [11]:
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [12]:
df.groupby('Base Flavor').sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [13]:
df.groupby('Base Flavor').sum(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [17]:
df.groupby('Base Flavor').agg(
    {
        "Flavor Rating": ["mean", "max", "count", "sum"],
        "Texture Rating": ["mean", "max", "count", "sum"]
    }
)

            Flavor Rating                   Texture Rating
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               5.7  10.0     6  34.2       5.650000  8.0     6  33.9

In [20]:
df.groupby('Base Flavor').agg(
    {
        "Flavor": lambda x: "|".join(x),
    }
)

                                                        Flavor
Base Flavor
Chocolate          Chocolate|Rocky Road|Chocolte Fudge Brownie
Vanilla      Mint Chocolate Chip|Vanilla|Cookie Dough|Pista...

In [21]:
df.groupby('Base Flavor').agg(
    {
        "Flavor": "sum"
    }
)

                                                        Flavor
Base Flavor
Chocolate            ChocolateRocky RoadChocolte Fudge Brownie
Vanilla      Mint Chocolate ChipVanillaCookie DoughPistachi...

In [23]:
df.groupby('Base Flavor').agg(
    {
        "Flavor": list
    }
)

                                                        Flavor
Base Flavor
Chocolate      [Chocolate, Rocky Road, Chocolte Fudge Brownie]
Vanilla      [Mint Chocolate Chip, Vanilla, Cookie Dough, P...

In [27]:
df.groupby('Base Flavor').agg(
    {
        "Flavor": list,
        "Liked": list,
        "Flavor Rating": "mean",
        "Texture Rating": "mean",
        "Total Rating": "mean"
    }
)

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,"[Chocolate, Rocky Road, Chocolte Fudge Brownie]","[Yes, Yes, Yes]",8.4,7.233333,15.70
Vanilla,"[Mint Chocolate Chip, Vanilla, Cookie Dough, P...","[Yes, No, Yes, No, Yes, No]",5.7,5.650000,11.35

In [29]:
df.groupby(['Base Flavor', 'Liked']).mean(numeric_only=True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [36]:
df.groupby(['Base Flavor', 'Liked']).agg(
    {
        "Flavor": list,
        "Liked": "first",  # might as well comment this out, but here's the .first method!
        "Flavor Rating": "mean",
        "Texture Rating": "mean",
        "Total Rating": "mean"
    }
)

                                                             Flavor Liked  \
Base Flavor Liked
Chocolate   Yes     [Chocolate, Rocky Road, Chocolte Fudge Brownie]   Yes
Vanilla     No                     [Vanilla, Pistachio, Neapolitan]    No
            Yes    [Mint Chocolate Chip, Cookie Dough, Cake Batter]   Yes

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [35]:
df.groupby(['Base Flavor', 'Liked']).agg(
    {
        "Flavor": list,
        "Liked": lambda x: list(x)[2],  # the third element
        "Flavor Rating": "mean",
        "Texture Rating": "mean",
        "Total Rating": "mean"
    }
)

                                                             Flavor Liked  \
Base Flavor Liked
Chocolate   Yes     [Chocolate, Rocky Road, Chocolte Fudge Brownie]   Yes
Vanilla     No                     [Vanilla, Pistachio, Neapolitan]    No
            Yes    [Mint Chocolate Chip, Cookie Dough, Cake Batter]   Yes

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [37]:
df.groupby('Base Flavor').describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]